%form.nomargin(action="/create_comment/#{@item.id}" method="POST" enctype="multipart/form-data")
  %label.textbox.name
    %p Write your comment for this Item:
  %textarea.textbox.value(type="text" name = "com")
%hr.separator
  %input.rightalign.square(type="submit" value="Submit")
.textbox.name.form.nomargin(action="/comments/#{@item.id}" method="GET")
  %input.square(type="submit" value="Back")
