
%h2 My Inactive Items
%br
- content_for :name do
  Inactive_items
%ul
  - for item in inactive_items
    %li
      %em= item.name
      %em= item.price
      \:
      %a(href="/changestate/#{item.id}.#{item.name}/setactive" ) Set Active
