
%h2 My Active Items
- content_for :name do
  Active_items

%table.itemtable
  %thead
    %tr
      %td Name
      %td Price
      %td Deactivate
  - for item in active_items
    %tr
      %td #{item.name}
      %td #{item.price}
      %td
        %form(action="/changestate/#{item.id}/setinactive" method="POST")
          %input.square(type="submit" value="Set inactive")


