
%h2 My Active Items
- content_for :name do
  Active_items
-unless active_items.empty?
  %table.itemtable
    %thead
      %tr
        %td
          %p.table_header Name
        %td
          %p.table_header Price
        %td
          %p.table_header Deactivate
    - for item in active_items
      %tr
        %td
          %p #{item.name}
        %td
          %p #{item.price}
        %td
          %form.nomargin(action="/changestate/#{item.id}/setinactive" method="POST")
            %input.square(type="submit" value="Set inactive")
-else
  %h3 No items


