.separator.invisible
.textbox.name
  %p Currently logged in User:
.textbox.value
  %p #{User.get_user(session[:username]).name}
.textbox.name
  %p Your Credits:
.textbox.value
  %p #{User.get_user(session[:username]).credits}
.textbox.name
  %p Active items:
.textbox.value
  %p #{User.get_user(session[:username]).list_items.size}
.textbox.name
  %p Inactive items
.textbox.value
  %p #{User.get_user(session[:username]).list_items_inactive.size}

