%table
  %tr
    %td(colspan="2")
      %h1 Trading System - Home
  %tr
    %td
      %h2 Menu
      %a(href="/home") - Home
      %br
      %a(href="/home/active") - My Active Items
      %br
      %a(href="/home/inactive") - My Inactive Items
      %br
      %a(href="/home/new") - Create Item
      %br
      %br
      %a(href="/users") - All Users
      %br
      %a(href="/items") - All Items
      %br
      %br
      %a(href="/logout") - Logout
    %td
      %h2 My Active Items
      %br
      - content_for :name do
        Active_items
      %ul
        - for item in active_items
          %li
            %em= item.name
            %em= item.price
  %tr
    %td(colspan="2")
