
%h2 My Active Items
%br
- content_for :name do
  Active_items

- for item in active_items
  %li
    %em= item.name
    %em= item.price
    %br
    %em Description: #{item.description}
    \
    %a(href="/changestate/#{item.id}/setinactive" ) Set Inactive
