
%h2 Create Item
%br
%form(action="/create" method="POST")
  %label Name of Item:
  %br
  %input(type="text" name="name" value="")
  %br
  %label Price:
  %br
  %input(type="text" name="price" value="")
  %br
  %input(type="submit" value="Create")
