%h2 My Inactive Items
- content_for :name do
  Inactive_items
-unless inactive_items.empty?
  %table.itemtable
    %thead
      %tr
        %td
          %p.table_header Name
        %td
          %p.table_header Price
        %td
          %p.table_header Activate
        %td
          %p.table_header Edit
    - for item in inactive_items
      %tr
        %td
          %p #{item.name}
        %td
          %p #{item.price}
        %td
          %form.nomargin(action="/changestate/#{item.id}/setactive" method="POST")
            %input.square(type="submit" value="Set active")
        %td
          %form.nomargin(action="/home/edit_item/#{item.id}" method="GET")
            %input.square(type="submit" value="Edit")
-else
  %h3 No items