%h2 My Active Items

.textbox.name
  %p Currently logged in User:
.textbox.value
  %p
  :escaped
    #{User.get_user(session[:id]).name}
.textbox.name
  %p Your Credits:
.textbox.value
  %p #{User.get_user(session[:id]).credits}
.textbox.name
  %p Active items:
.textbox.value
  %p #{User.get_user(session[:id]).list_items.size}
.textbox.name
  %p Inactive items
.textbox.value
  %p #{User.get_user(session[:id]).list_items_inactive.size}

