

%h1 Welcome to the Trading System!
%br
%p TS is the site for trading all the stuff you don't need anymore
%br
%p
  Already have a Login:
  %a(href='/login') Login!
%p
  Need a Login:
  %a(href='/signup') sign up!


