

%h2 Welcome to the Trading System!
%br
%p TS is the site for trading all the stuff you don't need anymore
%br
.textbox.name
  %p
    Already have a Login:
.textbox.value
  %a(href='/login') Login!
%hr.separator.invisible
.textbox.name
  %p
    Need a Login:
.textbox.value
  %a(href='/signup') sign up!


