%html
  %head
    %title Trading System
    %link(rel="stylesheet" type="text/css" href="/css/style.css")
  %body
    #content
      %h1 Welcome to the Trading System!
      %br
    #content
      %p TS is the site for trading all the stuff you don't need anymore
      %br
      %p
        Already have a Login:
        %a(href='/login') Login!
      %p
        Need a Login:
        %a(href='/signup') sign up!
    #content
      %p Built during ESE 2012 by the guys who brought you "the moving turtle" in P2

