%html
  %head
    %title Trading System
    %link(rel="stylesheet" type="text/css" href="/css/style.css")
  %body
    #wrapper
      #header
        %h1= "Trading System: #{page_name}"
      #page
        #navigation
          -if not session[:username].nil?
            %h2.menu_header Menu
            %a.menu(href="/home") - Home
            %a.menu(href="/home/active") - My Active Items
            %a.menu(href="/home/inactive") - My Inactive Items
            %a.menu(href="/home/new") - Create Item
            %br
            %a.menu(href="/users") - All Users
            %a.menu(href="/items") - All Items
            %br
            %a.menu(href="/users/#{User.get_user(session[:username]).name}") - Your Profile
            %a.menu(href="/logout") - Logout
          -else
            %h2.menu_header not logged in!
        -if error != nil
          #content.error
            #error_msg
              #{error}
            =yield
        -else
          #content
            =yield
      #footer
        %p built during ESE 2012