%h2 Login
%br
%form(action="/authenticate/#{user_id}" method="POST")
  %label.textbox.name
    %p
      Name:
  %input.textbox.value(type="text" name="username" value="")
  %hr.separator.invisible
  %label.textbox.name
    %p
      Password:
  %input.textbox.value(type="password" name="password" value="")
  %hr.separator
  %a.inline.leftalign(href="/pwforgotten") forgot password?
  %input.rightalign.square(type="submit" value="Login")
