%h1 Login
%br
%form(action="/authenticate" method="POST")
  %label Name:
  %br
  %input(type="text" name="username" value="")
  %br
  %br
  %label Password:
  %br
  %input(type="password" name="password" value="")
  %br
  %br
  %input(type="submit" value="Login")