%h2 #{@session_user.working_for.name}'s logs

%br
%p Filter activities
%form.nomargin(action="/logs/filter" method="POST" )
  -if @checked[0]
    %input(type = "checkbox" name = "add" value = "add_item" checked) Adding Items
  -else
    %input(type = "checkbox" name = "add" value = "add_item") Adding Items

  - if @checked[1]
    %input(type = "checkbox" name = "edit" value = "edit_item" checked) Editing Items
  -else
    %input(type = "checkbox" name = "edit" value = "edit_item") Editing Items

  -if @checked[2]
    %input(type = "checkbox" name = "activate" value = "activate_item" checked) Activating Items
  -else
    %input(type = "checkbox" name = "activate" value = "activate_item") Activating Items

  -if @checked[3]
    %input(type = "checkbox" name = "deactivate" value = "deactivate_item" checked) Deactivating Items
  -else
    %input(type = "checkbox" name = "deactivate" value = "deactivate_item") Deactivating Items
  %input.square(type="submit" value="Filter")
%br
  %table.usertable
    %thead
      %tr
        %td
          %p.table_header Time
        %td
          %p.table_header Activity
    - @logs.each do |activity|
      %tr
        %td
          %p #{activity.time.strftime("%d.%m.%Y<br />%H:%M")}
        %td
          %p #{activity.to_html}