%h2 #{@session_user.working_for.name}'s logs

%br
  %table
    %thead
      %tr
        %td
          %p.table_header Time
        %td
          %p.table_header Activity
    - @session_user.working_for.activities.each do |activity|
      %tr
        %td
          %p #{activity.time.strftime("%d.%m.%Y<br />%H:%M")}
        %td
          %p #{activity.to_html}