%h2 my Organizations
%br
%table.usertable
  - for org in @my_organizations
    %tr
      %td
        %a(href="/users/#{org.id}" )
          :escaped
            #{org.name}

%br
  %a(href="/create_organization")
    create new organization