
%h2 Your profile
%br
Change your password
%br
%br
%form(action="/change_password" method="POST")
  %label Enter old password:
  %br
  %input(type="password" name="password_old" value="")
  %br
  %br
  %br
  %label Enter new password:
  %br
  %input(type="password" name="password_new" value="")
  %br
  %label Repeat new password:
  %br
  %input(type="password" name="password_check" value="")
  %br
  %br
  %input(type="submit" value="Change password")
