
%h2 Your profile

.textbox.name
  Username:
.textbox.value
  #{user.name}

.textbox.name
  Credits:
.textbox.value
  #{user.credits}

.textbox.name
  Interests:
.textbox.value
  -user.description.each do |line|
    #{line}
    %br
%br
%hr.separator

.textbox.name
  Edit your list of interests:
%br
%br
%form(action="/change_description" method="POST")
  .textbox.value
    %textarea.fixedwith(type="text" name="description")
      -user.description.each do |line|
        #{line}
    %br
    %input.rightalign.square(type="submit" value="save")
%br
%hr.separator
.textbox.name
  %br
    Change your password
  %br
    Please choose a safe password; a safe password includes letters and numbers and is more than 4 digits long.
  %br
.textbox.value
  %form(action="/change_password" method="POST")
    %label Enter old password:
    %br
    %input(type="password" name="password_old" value="")
    %br
    %br
    %br
    %label Enter new password:
    %br
    %input(type="password" name="password_new" value="")
    %br
    %label Repeat new password:
    %br
    %input(type="password" name="password_check" value="")
    %br
    %br
    %input.square(type="submit" value="Change password")
