
%h2 Your profile
%br Username:  #{user.name}
%br Credits:   #{user.credits}
%br Interests: #{user.description}
%br
%p

Edit your list of interests:
%br
%br
%form(action="/change_description" method="POST")
  %input(type="text" name="description" value="#{description}")
  %br
  %input(type="submit" value="save")
%br
%br
Change your password
%br
%br
%form(action="/change_password" method="POST")
  %label Enter old password:
  %br
  %input(type="password" name="password_old" value="")
  %br
  %br
  %br
  %label Enter new password:
  %br
  %input(type="password" name="password_new" value="")
  %br
  %label Repeat new password:
  %br
  %input(type="password" name="password_check" value="")
  %br
  %br
  %input(type="submit" value="Change password")
