%h2 Login
%br
%form(action="/getnewpw" method="POST")
  %label.textbox.name
    %p
      Name:
  %input.textbox.value(type="text" name="username" value="")
  %input.rightalign.square(type="submit" value="remind me")
