%p Change password for #{username}
%br
%form.nomargin(action="/pwreset" method="POST")
  %label.textbox.name
    %p
      Enter new password:
  %input.textbox.value(type="password" name="password_new" value="")
  %hr.separator.invisible
  %label.textbox.name
    %p
      Repeat new password:
  %input.textbox.value(type="password" name="password_check" value="")
  %hr.separator
  %input.rightalign.square(type="submit" value="set new password")

%hr.separator
%p Please choose a safe password; a safe password includes letters and numbers and is more than 4 digits long.