%form.nomargin(action="/answer/#{@comment.id}" method="POST" enctype="multipart/form-data")
  %label.textbox.name
    %p Write your Reply on this comment:
  %textarea.textbox.value(type="text" name = "reply")
  %hr.separator
  %input.rightalign.square(type="submit" value="Submit")
%form.nomargin(action="/comments/#{@comment.correspondent_item.id}" method="GET")
  %input.square(type="submit" value="Back")
