%h2 Search
%form(action="/search" method="POST")
  %label.name
    %p Enter your search
  %input.value(type="text" name="search" placeholder="Separate words with space")
  %hr.separator
    %input.rightalign.square(type="submit" value="Login")