%h1 Signup
%br
%form(action="/signup" method="POST")
  %label new username:
  %br
  %input(type="text" name="username" value="")
  %br
  %p Make sure to choose a strong password.
  %p Strong passwords include letters and numbers and are longer than 4 digits.
  %label new password:
  %br
  %input(type="password" name="password1" value="")
  %br
  %label retype password:
  %br
  %input(type="password" name="password2" value="")
  %br
  %br
  %input(type="submit" value="Sign up!")