%h1 Signup
%br
%form(action="/signup" method="POST")
  %label.textbox.name new username:
  .textbox.value
    %input.wide(type="text" name="username" value="")
  %hr.separator
  %label.textbox.name List your interests:
  .textbox.value
    %textarea.fixedwith(type="text" name="description")
  %hr.separator

  %label.textbox.name Password:
  .textbox.value
    %input(type="password" name="password1" value="")

  %label.textbox.name Retype password:
  .textbox.value
    %input(type="password" name="password2" value="")
    %input.rightalign(type="submit" value="Sign up!")
  %hr.separator
    .textbox.name.wide
      %p.wide Make sure to choose a strong password.
      %p.wide Strong passwords include letters and numbers and are longer than 4 digits.