%h2 Signup
%br
%form(action="/signup" method="POST")
  %label.textbox.name new username:
  %input.textbox.value(type="text" name="username" value="")
  %hr.separator
  %label.textbox.name List your interests:
  %textarea.textbox.value(type="text" name="description")
  %hr.separator

  %label.textbox.name Password:
  %input.textbox.value(type="password" name="password1" value="")
  %hr.separator.invisible
  %label.textbox.name Retype password:
  %input.textbox.value(type="password" name="password2" value="")
  %hr.separator
  %input.square.rightalign(type="submit" value="Sign up!")
  .textbox.name.wide
    %p Make sure to choose a strong password.
    %p Strong passwords include letters and numbers and are longer than 4 digits.