
%h2 All Users
%br
- content_for :name do
  All_users

- for user in @all_users
  .textbox.name
    :escaped
      #{user.name}
  -#
    Formatierung geht kaputt, wenn man den Usernamen nach unten nimmt und ":escaped" zwischendrin setzt.

  .textbox.value
    has #{user.list_items.size} Items to sell
    %a.rightalign(href="/users/#{user.id}" ) Show Userpage

