/* trial css */
h1, h2, h3, a, p{
    font-family: Verdana, Arial, sans-serif;
}

body{
    margin: 20px;
    background: #eeeeee;
    font-family: Verdana, Arial, sans-serif;
}

#wrapper{
    background: none;
    display:table;
    width:913px;
    margin: auto;
}



#content_pane{
    width:100px;
}

.textbox{
    display: block;
    min-height: 19px;
    padding-top: 5px;
    padding-right: 5px;
}
#header{
    min-width: 600px;
    display: block;
    background-color: white;
    padding-top: 5px;
    padding-left: 20px;
    height:100%;
    border-bottom: 3px solid #8FC9FF;
}
#page{
    position: relative;
    width:100%;
    min-width:913px;
    min-height: 329px;
    height:100%;
    height: auto;
    overflow: hidden;
    background: white;
}
#navigation{
    position: relative;
    padding-top: 5px;
    width:200px;
    min-height: 337px;
    float:left;
    height: 100%;
}
#content{
    padding-top: 5px;
    padding-left: 10px;
    padding-right:10px;
    display: block;
    float:left;
    width: 690px;
    min-height: 337px;
    border-left : 3px solid #8FC9FF;
}

p{
    padding: 0;
    margin: 0;

    height:15px;
}

#footer{
    border-top:3px solid #8FC9FF;
    display:block;
    float:none;
    padding: 10px 10px 10px 20px;
    background: white;
}

h2.menu_header{
    margin-left: 20px;
}

a:link{
    text-decoration: none;
    color:#4169e1;
}

a:visited{
    text-decoration: none;
    color:#4169e1;
}

a.menu:hover
{
    text-decoration: none;
    background-color: #d3d3d3;
}

a.menu
{
    padding-left: 20px;
    padding-top: 2px;
    display:block;
    text-align:left;
    width:180px;
    height:20px;
    text-decoration:none;
}

a.menu:link
{
    text-decoration: none;
    color: black;
}

a.menu:visited
{
    text-decoration: none;
    color: black;
}

td.navigation{
    width:150px;
    max-width: 150px;
    height: 350px;
}
td.header{
    padding-bottom: 0px;
    min-width: 600px;
}

td{
    padding: 20px;
    border: 1px solid #778899;
    background: #ffffff;
    vertical-align: middle;
}
.itemtable{
    width: 100%;
    padding: 0px;
    border-collapse: collapse;
    text-align:left;
    max-height: 20px;
    border-spacing:0px;
    border-bottom: 3px solid #8FC9FF;
}

.itemtable tbody tr:hover td{
    background-color: #8FC9FF;

}


.itemtable thead{
    vertical-align: middle;
}

.itemtable td{
    background-color: #E5FFF2;
    max-height: 20px;
    overflow: hidden;
    padding: 6px 8px;
    border-left: 1px solid #8FC9FF;
    border-top: 3px solid #8FC9FF;
    border-right:none;
    border-bottom: none;
    width:100%;
}

.table_header{
    margin-top: 5px;
    margin-bottom: 5px;
}

.square{
    background-color: #8FC9FF;
}
.nomargin{
    margin:0;
}

.name{
    margin-top:3px;
    float:left;
    width:30%;
}
.value{
    width: 65%;
    float: right;
    background-color: #E5FFF2;
    border-top: 3px solid #8FC9FF;
    padding-left:5px;
    word-break: break-all;
}

.separator{
    float:right;
    width:100%;
    margin-top: 5px;
}
.invisible{
    height: 0px;
    border:none;
}

.main
{
    width: 100%;
    border-spacing: 5px;
}
.fixedwith{
    resize: none;
    height: 100px;
    width:66.4%;

}
.wide{
    width: 100%;
}
.rightalign{
    float:right
}

.right{
    width: 67%;
    padding-left: 10px;
    float:right;
    margin-bottom: 5px;
}



.error{
    background: #FFB3B3;
}

#error_msg{
    display:block;
    width: 100%;
    background-color: #ffffff;
    height: 30px;
    font-size:20px;
    border: 2px solid black;
    text-align: center;
    vertical-align: middle;
    padding-top:5px;

}
