/* trial css */
h1, h2, h3, a, p{
    font-family: Verdana, Arial, sans-serif;
}

body{
    margin: 20px;
    background: #eeeeee;
    font-size: small;
    font-family: Verdana, Arial, sans-serif;
    text-align: left;
    ;
}

#content{
    width: 70%;
    margin: auto;
}

#textbox{
    display: block;
    padding-top: 5px;

}
.name{
    margin-top:3px;
    float:left;
    width:40%;
}
.value{
    width: 55%;
    float: right;
    background-color: #E5FFF2;
    border-top: 3px solid #8FC9FF;
    padding-left:5px;
    word-break: break-all;
}

.separator{
    float:right;
    width:100%;
    margin-top: 5px;
}

.main
{
    width: 100%;
    border-spacing: 5px;
}
.fixedwith{
    width: 100%;
    resize: none;
    height: 100px;
}

a:link{
    text-decoration: none;
    color:#4169e1;
}

a:visited{
    text-decoration: none;
    color:#4169e1;
}

a.nav:hover
{
    text-decoration: none;
    background-color: #d3d3d3;
}

a.nav
{
    display:block;
    text-align:left;
    width:150px;
    text-decoration:none;
}

a.nav:link
{
    text-decoration: none;
    color: black;
}

a.nav:visited
{
    text-decoration: none;
    color: black;
}
td.navigation{
    width:150px;
    max-width: 150px;
    height: 350px;
}
td.header{
    padding-bottom: 0px;
}

td{
    padding: 20px;
    border: 1px solid #666;
    background: #ffffff;
    vertical-align: top;
}

td.error{
    background: #FFB3B3;
}

#error_msg{
    display:block;
    width: 100%;
    background-color: #ffffff;
    height: 30px;
    font-size:20px;
    border: 2px solid black;
    text-align: center;
    vertical-align: middle;
    padding-top:5px;

}